gti777-lab3/wsdl/Fabricant.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://fabricant.lab3.com/" name="fabricant" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://fabricant.lab3.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://fabricant.lab3.com/" schemaLocation="Fabricant_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <message name="traiterOrdreAchat">
    <part name="parameters" element="tns:traiterOrdreAchat"/>
  </message>
  <message name="traiterOrdreAchatResponse">
    <part name="parameters" element="tns:traiterOrdreAchatResponse"/>
  </message>
  <message name="obtenirInfoProduit">
    <part name="parameters" element="tns:obtenirInfoProduit"/>
  </message>
  <message name="obtenirInfoProduitResponse">
    <part name="parameters" element="tns:obtenirInfoProduitResponse"/>
  </message>
  <message name="receivePayment">
    <part name="parameters" element="tns:receivePayment"/>
  </message>
  <message name="receivePaymentResponse">
    <part name="parameters" element="tns:receivePaymentResponse"/>
  </message>
  <portType name="fabricant">
    <operation name="hello">
      <input wsam:Action="http://fabricant.lab3.com/fabricant/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://fabricant.lab3.com/fabricant/helloResponse" message="tns:helloResponse"/>
    </operation>
    <operation name="traiterOrdreAchat">
      <input wsam:Action="http://fabricant.lab3.com/fabricant/traiterOrdreAchatRequest" message="tns:traiterOrdreAchat"/>
      <output wsam:Action="http://fabricant.lab3.com/fabricant/traiterOrdreAchatResponse" message="tns:traiterOrdreAchatResponse"/>
    </operation>
    <operation name="obtenirInfoProduit">
      <input wsam:Action="http://fabricant.lab3.com/fabricant/obtenirInfoProduitRequest" message="tns:obtenirInfoProduit"/>
      <output wsam:Action="http://fabricant.lab3.com/fabricant/obtenirInfoProduitResponse" message="tns:obtenirInfoProduitResponse"/>
    </operation>
    <operation name="receivePayment">
      <input wsam:Action="http://fabricant.lab3.com/fabricant/receivePaymentRequest" message="tns:receivePayment"/>
      <output wsam:Action="http://fabricant.lab3.com/fabricant/receivePaymentResponse" message="tns:receivePaymentResponse"/>
    </operation>
  </portType>
  <binding name="fabricantPortBinding" type="tns:fabricant">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="traiterOrdreAchat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenirInfoProduit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="receivePayment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="fabricant">
    <port name="fabricantPort" binding="tns:fabricantPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

