gti777-lab3-warehouseA/web/WEB-INF/wsdl/localhost_8080/gti777-lab3-fabricant/fabricant.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://xml.netbeans.org/examples/PurchaseOrder" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/examples/PurchaseOrder">

<xs:complexType name="PurchaseOrderInfo">
<xs:sequence>
<xs:element name="shipTo" type="tns:USAddress"/>
<xs:element name="shipDate" type="xs:date" minOccurs="0"/>
<xs:element name="billTo" type="tns:USAddress"/>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
<xs:element name="purchaseOrder" type="tns:PurchaseOrder"/>
<xs:element name="totalPrice" type="xs:positiveInteger"/>
<xs:element name="purchaseOrderNumber" type="xs:positiveInteger"/>
<xs:element name="clientId" type="xs:positiveInteger"/>
</xs:sequence>
<xs:attribute name="orderDate" type="xs:date"/>
</xs:complexType>

<xs:complexType name="USAddress">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="street" type="xs:string"/>
<xs:element name="city" type="xs:string"/>
<xs:element name="state" type="xs:string"/>
<xs:element name="zip" type="xs:decimal"/>
</xs:sequence>
<xs:attribute name="country" type="xs:NMTOKEN"/>
</xs:complexType>

<xs:complexType name="PurchaseOrder">
<xs:sequence>
<xs:element name="item" nillable="true" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:all>
<xs:element name="productName" type="xs:string"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="USPrice" type="xs:decimal"/>
<xs:element name="type" type="xs:string"/>
</xs:all>
<xs:attribute name="partNum" type="xs:string" use="required"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>