testApp/xml-resources/web-service-references/warehouse/wsdl/localhost_8080/gti777-lab3-warehouseA/warehouse.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://warehouse/" xmlns:ns1="http://xml.netbeans.org/examples/PurchaseOrder" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://warehouse/">

<xs:import namespace="http://xml.netbeans.org/examples/PurchaseOrder" schemaLocation="http://localhost:8080/gti777-lab3-warehouseA/warehouse?xsd=1"/>

<xs:element name="expedierProduits" type="tns:expedierProduits"/>

<xs:element name="expedierProduitsResponse" type="tns:expedierProduitsResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="expedierProduits">
<xs:sequence>
<xs:element name="Listeitem" type="ns1:ListeItem" minOccurs="0"/>
<xs:element name="client" type="ns1:client" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="expedierProduitsResponse">
<xs:sequence>
<xs:element name="return" type="ns1:StatutListeItemExpedier" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>