testApp/xml-resources/web-service-references/warehouse/wsdl/localhost_8080/gti777-lab3-warehouseA/warehouse.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/examples/PurchaseOrder">

<xs:complexType name="ListeItem">
<xs:sequence>
<xs:element name="item" nillable="true" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:all>
<xs:element name="productName" type="xs:string"/>
<xs:element name="USPrice" type="xs:decimal"/>
<xs:element name="quantity" type="xs:positiveInteger"/>
<xs:element name="type" type="xs:string"/>
</xs:all>
<xs:attribute name="partNum" type="xs:string" use="required"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="client">
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="numRef" type="xs:positiveInteger"/>
<xs:element name="street1" type="xs:string"/>
<xs:element name="street2" type="xs:string"/>
<xs:element name="zip" type="xs:string"/>
<xs:element name="ville" type="xs:string"/>
<xs:element name="province" type="xs:string"/>
<xs:element name="pays" type="xs:string"/>
</xs:sequence>
<xs:attribute name="country" type="xs:NMTOKEN"/>
</xs:complexType>

<xs:complexType name="StatutListeItemExpedier">
<xs:sequence>
<xs:element name="item" nillable="true" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:all>
<xs:element name="productName" type="xs:string"/>
<xs:element name="quantity" type="xs:positiveInteger"/>
<xs:element name="status" type="xs:string"/>
</xs:all>
<xs:attribute name="partNum" type="xs:string" use="required"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>