gti777-lab3-warehouseA/src/conf/xml-resources/web-service-references/fabricant/wsdl/localhost_8080/gti777-lab3-fabricant/fabricant.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://fabricant.lab3.com/" xmlns:ns1="http://xml.netbeans.org/examples/PurchaseOrder" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://fabricant.lab3.com/">

<xs:import namespace="http://xml.netbeans.org/examples/PurchaseOrder" schemaLocation="http://localhost:8080/gti777-lab3-fabricant/fabricant?xsd=1"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="obtenirInfoProduit" type="tns:obtenirInfoProduit"/>

<xs:element name="obtenirInfoProduitResponse" type="tns:obtenirInfoProduitResponse"/>

<xs:element name="receivePayment" type="tns:receivePayment"/>

<xs:element name="receivePaymentResponse" type="tns:receivePaymentResponse"/>

<xs:element name="traiterOrdreAchat" type="tns:traiterOrdreAchat"/>

<xs:element name="traiterOrdreAchatResponse" type="tns:traiterOrdreAchatResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="receivePayment">
<xs:sequence>
<xs:element name="numOrdre" type="xs:integer" minOccurs="0"/>
<xs:element name="prixTotal" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="receivePaymentResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traiterOrdreAchat">
<xs:sequence>
<xs:element name="purchaseOrder" type="ns1:PurchaseOrderInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="traiterOrdreAchatResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenirInfoProduit">
<xs:sequence>
<xs:element name="partNum" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenirInfoProduitResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:all>
<xs:element name="productName" type="xs:string" form="qualified"/>
<xs:element name="USPrice" type="xs:decimal" form="qualified"/>
<xs:element name="type" type="xs:string" form="qualified"/>
</xs:all>
<xs:attribute name="partNum" type="xs:string" use="required"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>